header {
	/* Background : Centered with room for items in the center */
	background-image: url(/public/assets/clouds.jpg);
	background-color: black;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	grid-row: 1 / span 1;
	width: 100%;
	padding: 25% 0;
	align-items: center;
	justify-items: center;
	animation-name: color-in;
	animation-duration: 2500ms;
}

#masthead-h1 {
	font-size: 300%;
	color: rgb(255, 208, 208);
	margin: 1% 0;
	display: flex;
	align-items: center;
	justify-items: center;
}

#masthead-button {
	/* Align masthead buttons to center of page */
	display: block;
	justify-self: center;
	align-self: center;
}

@keyframes color-in {
	0% {
		filter: blur(2px) grayscale(1);
	}
	100% {
		filter: blur(0) grayscale(0);

	}
}
