/* Main Components */

* {
	align-content: center;
	justify-content: center;
	margin: 0 auto;
}

html {
	height: 100vh;
}

footer {
	background-color: rgb(231, 231, 231);
	grid-row: 4;
	width: 100%;
	padding: 2% 0;
}

/* Text + Etc. */
p {
	/* Gives a bit of room on sides of the container... Easier to read */
	margin: 0 5%;
	color: rgb(109, 109, 109);
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
}

a {
	/* Gets rid of underlines on links */
	text-decoration: none;
}

h1 {
	color: rgb(75, 75, 75);
	font-family: 'Courier New', Courier, monospace;
	font-size: 30px;
	margin: 2% 0;
	padding: 0;
	display: flex;
	align-self: center;
	justify-items: center;
}

h2 {
	margin: 2% 0;
	padding: 0;
	display: flex;
	align-self: center;
	justify-items: center;
}

h6 {
	display: flex;
	justify-self: right;
	align-self: right;
	color: rgb(91, 180, 209);
	transition: 500ms;
}

h6:hover {
	color: rgb(79, 156, 182);
}

button {
	border: 2px solid rgb(253, 253, 253);
	background-color: transparent;
	border-radius: 50px;
	padding: 15px 30px;
	color: white;
	font-family: 'Courier New', Courier, monospace;
	/* font-size: 30px; */
	font-weight: 500;
	transition: all 500ms ease-in-out;
}

button:hover {
	border: 2px solid rgb(248, 130, 130);
	cursor: pointer;
}

a {
	color: white;
	transition: color 500ms ease-in-out;
}

a:hover {
	color: rgb(65, 65, 65);
}

li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	text-transform: uppercase;
	padding: 0 10px;
}

/* Class Specific CSS */

/* Main App.js CSS : Just defines the grid of the website */
.App {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1.4fr 0.1fr 1fr 0.2fr;
}

.body-container {
	background-color: rgb(248, 248, 248);
	/* Make it take the entire width of the page */
	width: 100%;
	/* Load in animation */
	animation: load-in 1000ms ease-in-out alternate;
}

/* ID Specific CSS */

#footer-heading {
	/* align-items: flex-start; */
	margin-bottom: 1%;
	margin-top: 0;
	color: rgb(134, 134, 134);
}

/* Mobile Styling */

@media (max-width: 550px) {
	.App {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1.3fr 0.1fr 1.2fr 0.2fr;
	}
	footer {
		height: 10vh;
	}
}

/* Animations */

@keyframes slide-in {
	0% {
		opacity: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		height: 100%;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.9;
	}
}

@keyframes load-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}